---

---

<section class="mt-24">
  <h1 class="sr-only">Bharatesh's Blog Introduction</h1>
  <div
    class="px-26 gap-20 flex flex-col md:flex-row justify-start items-center"
  >
    <slot />
    <div class="">
      <h1 class="text-4xl text-center md:text-start leading-relaxed font-bold">
        All things tech
      </h1>
      <p class="mt-4 text-lg leading-relaxed">
        I’m a software developer from India, curious about how things work.
        Here, I explore projects, experiments, and anything that excites me in
        the world of systems and beyond.
        <br />
        <em> Pull up a chair it’s going to be fun!</em>
      </p>
    </div>
  </div>
</section>
