---
---

<div class="avatar">
  <div class="w-52 lg:w-96 rounded-full">
    <img
      src="https://res.cloudinary.com/demo/image/upload/ar_1.0,c_thumb,g_face,w_0.6,z_0.7/r_max/co_black,e_outline/co_dimgrey,e_shadow,x_30,y_40/actor.png"
      alt="Bharatesh Introduction"
      width={500}
      height={500}
      class="object-cover"
    />
  </div>
</div>
